/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #3498db;
  --color-secondary: red;
  --spacing-small: 8px;
  --regular-font-size: 14px;
}