/* Use import to split up your CSS into manageable chunks */
@import url(/_reset.css);
@import url('/_variables.css');

.header {
    position: fixed;
    left: 0;
    right: 0;
    padding: 20px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink;
}

h1 {
    display: none;
    color: white;
}

.call-to-action {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.btn {
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px black;
    background-color: lightseagreen;
    display: inline-block;
    align-self: center;
    padding: 30px 50px;
    font-size: 1.7rem;
    text-decoration: none;
    border: none;
    color: black;
    transition: background-color: 0.3s ease;
}

.btn:hover {
    background-color: salmon;
}

@media (max-width: 700px) {
    .btn {
        padding: 12px 24px;
        font-size: 1rem;
    }
}